# Godot 4+ specific ignores
.godot/
/android/
city/CITY BLENDER 69.69.glb
city/CITY BLENDER 69.69.glb.import
city/CITY BLENDER 69_Image_0.png
city/CITY BLENDER 69_Image_0.png.import
city/CITY BLENDER 69_Image_1.png
city/CITY BLENDER 69_Image_1.png.import
city/CITY BLENDER 69_Image_2.png
city/CITY BLENDER 69_Image_2.png.import
city/CITY BLENDER 69_Image_3.jpg
city/CITY BLENDER 69_Image_3.jpg.import
city/CITY BLENDER 69_Image_4.png
city/CITY BLENDER 69_Image_4.png.import
